Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo

feat(ublue-brew): allow running brew-installed programs with sudo
  packages/ublue-brew/src/etc/sudoers.d/linuxbrew
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

chore: bump version
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

chore: bump brew runner
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

chore: bump brew runner (#805)
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

schemas(bluefin): bump bluefin gnome schemas
  packages/bluefin/bluefin.spec
Owners: @castrojo

feat: notifactions for system update
  packages/ublue-os-just/src/recipes/10-update.just
Owners: @zeglius

fix: update spec
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

schemas(bluefin): bump bluefin gnome schemas (#806)
  packages/bluefin/bluefin.spec
Owners: @castrojo

chore: use consistent relative path format
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

chore: Update to the latest Bazaar
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Update summary and description
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

feat: generate plymouth icons from source SVG
  packages/aurora/aurora.spec
  packages/aurora/plymouth/themes/spinner/kinoite-watermark.png
  packages/aurora/plymouth/themes/spinner/watermark.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: remove duplicate of files in logos
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): add proper sddm theme
  packages/aurora/aurora.spec
  packages/aurora/kde-config/sddm/01-breeze-aurora/Background.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/KeyboardButton.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/Login.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/Main.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/SessionButton.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/metadata.desktop
  packages/aurora/kde-config/sddm/01-breeze-aurora/preview.png
  packages/aurora/kde-config/sddm/01-breeze-aurora/theme.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: bluefin-cli and aurora-cli recipes
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-cli.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

fix(ublue-brew): add zstd to Requires
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

fix(ublue-brew): add zstd to Requires (#821)
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

fix: add AI Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-ai.Brewfile
Owners: @castrojo

fix: update bluefin version to 0.3.24
  packages/bluefin/bluefin.spec
Owners: @castrojo

fix: update schemas package version to 0.2.14
  packages/bluefin/bluefin.spec
Owners: @castrojo

feat(aurora):add AI tools brewfile
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix homebrew lint
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

feat: add claude-code
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: lint workflow fix
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

chore: bump the spec files
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat: add aurora-ai.Brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(brewlint): try setting user ownership
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

revertme: introduce syntax error
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-fonts.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: add sudo
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

chore: change permission before checkout
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

Revert "chore: change permission before checkout"
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

chore: don't use homebrew runner
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

Revert "revertme: introduce syntax error"
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-fonts.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: so the action runs
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: set invalid package
  .github/workflows/lint-brewfiles.yml
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
Owners: @tulilirockz, @p5, @m2Giles, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix({aurora,bluefin}): move pipewire `raop` config file to `/etc` instead of `/usr/share` to allow disabling the raop module
  packages/aurora/aurora.spec
  packages/aurora/schemas/etc/pipewire/pipewire.conf.d/raop.conf
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/etc/pipewire/pipewire.conf.d/raop.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

fix({aurora,bluefin}): move pipewire `raop` config file to `/etc` instead of `/usr/share` to allow disabling the raop module (#829)
  packages/aurora/aurora.spec
  packages/aurora/schemas/etc/pipewire/pipewire.conf.d/raop.conf
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/etc/pipewire/pipewire.conf.d/raop.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

chore: continue on erorr, make the action fail
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

chore: remove continue on error
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

feat: try to to output the naughty files
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles
