Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

feat(bluefin): add red tulip wallpaper (#770)
  packages/bluefin/bluefin.spec
  packages/bluefin/wallpapers/gnome-background-properties/xe_red_tulip.xml
  packages/bluefin/wallpapers/images/xe_red_tulip.jxl
Owners: @castrojo

fix(ublue-os-media-automount): match fstab entries by uuid
  packages/ublue-os-media-automount-udev/ublue-os-media-automount.py
Owners: @zeglius

chore(ublue-os-media-automount): update spec version
  packages/ublue-os-media-automount-udev/ublue-os-media-automount-udev.spec
Owners: @zeglius

feat(lts): improve LTS rebase-helper script
  packages/ublue-rebase-helper/src/ublue-rebase-helper
  packages/ublue-rebase-helper/ublue-rebase-helper.spec
Owners: @zeglius

chore: add bootc upgrade to sudoers file
  packages/ublue-polkit-rules/src/etc/sudoers.d/001-bootc
Owners: @zeglius

chore: add bootc upgrade to sudoers file (#778)
  packages/ublue-polkit-rules/src/etc/sudoers.d/001-bootc
Owners: @zeglius

chore(polkit-rules): bump version
  packages/ublue-polkit-rules/ublue-polkit-rules.spec
Owners: @zeglius

chore(polkit-rules): bump version (#779)
  packages/ublue-polkit-rules/ublue-polkit-rules.spec
Owners: @zeglius

feat: Allow modifying atuin flags in bling.fish
  packages/ublue-bling/src/bling.fish
Owners: @zeglius

feat: Allow modifying atuin flags in bling.fish (#780)
  packages/ublue-bling/src/bling.fish
Owners: @zeglius

feat(aurora): add white circle logo
  packages/aurora/aurora.spec
  packages/aurora/logos/distributor-logo-white-circle.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): put new circle logo in proper place
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): add white circle logo (#781)
  packages/aurora/aurora.spec
  packages/aurora/logos/distributor-logo-white-circle.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(ublue-os-just): bogus date
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

chore(ublue-os-just): bump version
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

feat(ublue-os-just): check justfiles
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

feat(aurora): add phlip and echo to faces package
  packages/aurora/aurora.spec
  packages/aurora/faces/echo.png
  packages/aurora/faces/phlip.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): add phlip and echo to faces package (#783)
  packages/aurora/aurora.spec
  packages/aurora/faces/echo.png
  packages/aurora/faces/phlip.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(ci): validate justfiles
  .github/workflows/shared/install-just.sh
  .github/workflows/validate-just.yml
  Justfile
Owners: @tulilirockz, @p5, @m2Giles

feat(ci): validate justfiles (#784)
  .github/workflows/shared/install-just.sh
  .github/workflows/validate-just.yml
  Justfile
Owners: @tulilirockz, @p5, @m2Giles

feat(lts): improve LTS rebase-helper script (#776)
  packages/ublue-rebase-helper/src/ublue-rebase-helper
  packages/ublue-rebase-helper/ublue-rebase-helper.spec
Owners: @zeglius

chore(aurora): update white-circle logos
  packages/aurora/aurora.spec
  packages/aurora/logos/distributor-logo-darkwhite-circle.svg
  packages/aurora/logos/distributor-logo-white-circle.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix spec file
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

Update aurora.spec
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

add missing places
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore(aurora): update white-circle logos (#787)
  packages/aurora/aurora.spec
  packages/aurora/logos/distributor-logo-darkwhite-circle.svg
  packages/aurora/logos/distributor-logo-white-circle.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: Allow wrap mode during meson built for libdex
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Implement another way
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Try prefilling libdex subproject instead
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Fix annoying issue with how libdex is built as a subproject
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Fix missing value
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Fix missing value
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Does not apply to subproject as intended, just do without this build arg
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Add new glycin dependency of bazaar
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Add new bazaar-dl-worker binary, allow unpackaged files to deal with libdex
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

feat(ublue-os-just): check justfiles (#782)
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

Fixes #785
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-cli.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

Fixes #785; Made changes to bbrew entries in blufin-cli.Brewfile and aurora-cli.Brewfile.
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-cli.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

chore(ublue-bling): bump version
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

chore(ublue-bling): bump version (#799)
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo
