Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo

fix: fixing up the BASH or ZSH logic for os-bling (#1004)
  packages/ublue-bling/src/bling.sh
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

chore(aurora): delete plymouth
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(bling): initialize direnv for bash and zsh
  packages/ublue-bling/src/bling.sh
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

fix: don't use homebrew qdbus
  packages/ublue-brew/src/usr/lib/systemd/system/brew-upgrade.service
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

chore: Add missing BuildRequires
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: don't use homebrew qdbus (#1012)
  packages/ublue-brew/src/usr/lib/systemd/system/brew-upgrade.service
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

feat: add ublue-os-ucore-addons package
  packages/ublue-os-ucore-addons/ublue-os-ucore-addons.spec
Owners: @zeglius

chore: bump version
  packages/ublue-os-ucore-addons/ublue-os-ucore-addons.spec
Owners: @zeglius

use install and %install
  packages/ublue-os-ucore-addons/ublue-os-ucore-addons.spec
Owners: @zeglius

use what we know works
  packages/ublue-os-ucore-addons/ublue-os-ucore-addons.spec
Owners: @zeglius

use renovate for specific commit of source
  packages/ublue-os-ucore-addons/ublue-os-ucore-addons.spec
Owners: @zeglius

fix(just): Fix description of clean-system recipe
  packages/ublue-os-just/src/recipes/20-clean.just
Owners: @zeglius

Update warnings for AMD CPU vulnerabilities
  packages/ublue-os-luks/src/luks-enable-tpm2-autounlock
Owners: @zeglius

fix(just): Fix description of clean-system recipe (#1020)
  packages/ublue-os-just/src/recipes/20-clean.just
Owners: @zeglius

fix: handle fedora 43 container install failure
  staging/sanoid/sanoid.spec
Owners: @tulilirockz, @p5, @m2Giles

correct typos in spec
  staging/sanoid/sanoid.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: handle fedora 43 container install failure for sanoid package (#1025)
  staging/sanoid/sanoid.spec
Owners: @tulilirockz, @p5, @m2Giles

Initialize direnv in `bling.sh` (#1011)
  packages/ublue-bling/src/bling.sh
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

fix: Update warnings for LUKS setup and AMD CPU vulnerabilities (#1022)
  packages/ublue-os-luks/src/luks-enable-tpm2-autounlock
Owners: @zeglius

chore: remove aurora-logos
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: remove ublue-branding-logos
  packages/ublue-branding/logos/ublue-discourse.svg
  packages/ublue-branding/logos/ublue-docs.svg
  packages/ublue-branding/logos/ublue-update.svg
  packages/ublue-branding/ublue-branding.spec
Owners: @zeglius

chore(aurora): delete plymouth (#1007)
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: remove aurora-logos (#1029)
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore(aurora): remove aurora readymade config
  packages/aurora-readymade-config/aurora-readymade-config.spec
  packages/aurora-readymade-config/src/bento/bottom-right-dark.jxl
  packages/aurora-readymade-config/src/bento/bottom-right.jxl
  packages/aurora-readymade-config/src/bento/middle-left-dark.jxl
  packages/aurora-readymade-config/src/bento/middle-left.jxl
  packages/aurora-readymade-config/src/bento/top-right-dark.jxl
  packages/aurora-readymade-config/src/bento/top-right.jxl
  packages/aurora-readymade-config/src/repart/20-efi.conf
  packages/aurora-readymade-config/src/repart/45-boot.conf
  packages/aurora-readymade-config/src/repart/50-root.conf
Owners: @tulilirockz, @p5, @m2Giles

chore: cleanup unused old gtk anaconda stuff
  aurora/fedora-logos/fedora-logos.spec
  aurora/fedora-logos/src/anaconda/fedora.css
  aurora/fedora-logos/src/anaconda/sidebar-bg.png
  aurora/fedora-logos/src/anaconda/topbar-bg.png
  aurora/fedora-logos/src/logos/fedora-logo-icon.png
  aurora/fedora-logos/src/logos/fedora-logo-small.png
  aurora/fedora-logos/src/logos/fedora-logo-sprite.png
  aurora/fedora-logos/src/logos/fedora-logo-sprite.svg
  aurora/fedora-logos/src/logos/fedora-logo.png
  aurora/fedora-logos/src/logos/fedora-logo.svg
  aurora/fedora-logos/src/logos/fedora_logo_med.png
  aurora/fedora-logos/src/logos/fedora_whitelogo.svg
  aurora/fedora-logos/src/logos/system-logo-white.png
  aurora/fedora-logos/src/logos/system-logo.png
  aurora/fedora-logos/src/logos/ublue-discourse.svg
  aurora/fedora-logos/src/logos/ublue-docs.svg
  aurora/fedora-logos/src/logos/ublue-update.svg
Owners: @tulilirockz, @p5, @m2Giles

fix: builds
  aurora/fedora-logos/fedora-logos.spec
Owners: @tulilirockz, @p5, @m2Giles

feat: actually we can torch everything
  aurora/fedora-logos/fedora-logos.spec
  aurora/fedora-logos/src/anaconda/fedora-logo-icon.png
  aurora/fedora-logos/src/anaconda/sidebar-logo.png
  aurora/fedora-logos/src/misc/scope_installer.png
Owners: @tulilirockz, @p5, @m2Giles

chore(aurora): remove aurora readymade config (#1032)
  packages/aurora-readymade-config/aurora-readymade-config.spec
  packages/aurora-readymade-config/src/bento/bottom-right-dark.jxl
  packages/aurora-readymade-config/src/bento/bottom-right.jxl
  packages/aurora-readymade-config/src/bento/middle-left-dark.jxl
  packages/aurora-readymade-config/src/bento/middle-left.jxl
  packages/aurora-readymade-config/src/bento/top-right-dark.jxl
  packages/aurora-readymade-config/src/bento/top-right.jxl
  packages/aurora-readymade-config/src/repart/20-efi.conf
  packages/aurora-readymade-config/src/repart/45-boot.conf
  packages/aurora-readymade-config/src/repart/50-root.conf
Owners: @tulilirockz, @p5, @m2Giles

chore: cleanup unused old gtk anaconda stuff (#1033)
  aurora/fedora-logos/fedora-logos.spec
  aurora/fedora-logos/src/anaconda/fedora-logo-icon.png
  aurora/fedora-logos/src/anaconda/fedora.css
  aurora/fedora-logos/src/anaconda/sidebar-bg.png
  aurora/fedora-logos/src/anaconda/sidebar-logo.png
  aurora/fedora-logos/src/anaconda/topbar-bg.png
  aurora/fedora-logos/src/logos/fedora-logo-icon.png
  aurora/fedora-logos/src/logos/fedora-logo-small.png
  aurora/fedora-logos/src/logos/fedora-logo-sprite.png
  aurora/fedora-logos/src/logos/fedora-logo-sprite.svg
  aurora/fedora-logos/src/logos/fedora-logo.png
  aurora/fedora-logos/src/logos/fedora-logo.svg
  aurora/fedora-logos/src/logos/fedora_logo_med.png
  aurora/fedora-logos/src/logos/fedora_whitelogo.svg
  aurora/fedora-logos/src/logos/system-logo-white.png
  aurora/fedora-logos/src/logos/system-logo.png
  aurora/fedora-logos/src/logos/ublue-discourse.svg
  aurora/fedora-logos/src/logos/ublue-docs.svg
  aurora/fedora-logos/src/logos/ublue-update.svg
  aurora/fedora-logos/src/misc/scope_installer.png
Owners: @tulilirockz, @p5, @m2Giles

chore: remove ublue-branding-logos (#1030)
  packages/ublue-branding/logos/ublue-discourse.svg
  packages/ublue-branding/logos/ublue-docs.svg
  packages/ublue-branding/logos/ublue-update.svg
  packages/ublue-branding/ublue-branding.spec
Owners: @zeglius
