Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo

chore: bump
  aurora/fedora-logos/fedora-logos.spec
Owners: @tulilirockz, @p5, @m2Giles

chore(aurora): replace aurora logos in anaconda livecd (#907)
  aurora/fedora-logos/fedora-logos.spec
  aurora/fedora-logos/src/anaconda/fedora-logo-icon.png
  aurora/fedora-logos/src/anaconda/sidebar-logo.png
Owners: @tulilirockz, @p5, @m2Giles

Update bazaar.spec
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

fix(ublue-os-just): only clean brew if present (#859)
  packages/ublue-os-just/src/recipes/20-clean.just
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

chore: bump
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: bump specs
  packages/bluefin/bluefin.spec
Owners: @castrojo

Fix stty compatibility issue with uutils-coreutils in bluefin-cli (#914)
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/etc/profile.d/uutils.sh
Owners: @castrojo

fix: remove raop default config
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

fix: remove raop default config (#921)
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

feat(bluefin): disable rpm count on fastfetch
  packages/bluefin/fastfetch/fastfetch.jsonc
Owners: @castrojo

feat(aurora): disable rpm on fastfetch
  packages/aurora/fastfetch/fastfetch.jsonc
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: bump version
  packages/bluefin/bluefin.spec
Owners: @castrojo

chore: bump
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: allow sudoless bootc commands Allowed commands that can be ran without the sudo password is configured in the sudoers.d configuration.
  packages/ublue-polkit-rules/src/etc/profile.d/bootc.sh
  packages/ublue-polkit-rules/ublue-polkit-rules.spec
Owners: @zeglius

feat(aurorafin): disable rpm count on fastfetch (#930)
  packages/aurora/aurora.spec
  packages/aurora/fastfetch/fastfetch.jsonc
  packages/bluefin/bluefin.spec
  packages/bluefin/fastfetch/fastfetch.jsonc
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

Update packages/ublue-os-just/src/recipes/10-update.just
  packages/ublue-os-just/src/recipes/10-update.just
Owners: @zeglius

fix(krunner-bazaar): make bazaar optional
  packages/krunner-bazaar/krunner-bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

fix(krunner-bazaar): make bazaar optional (#933)
  packages/krunner-bazaar/krunner-bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore(deps): bump krunner-bazzar to 1.2.2
  packages/krunner-bazaar/krunner-bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore(deps): bump krunner-bazzar to 1.2.2 (#935)
  packages/krunner-bazaar/krunner-bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore(ublue-os-just): require less user inputs (#899)
  packages/ublue-os-just/src/recipes/00-default.just
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix(just): epel builds by removing rpm macros from changelogs
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

feat(aurora): add new wallpapers
  packages/aurora/aurora.spec
  packages/aurora/wallpapers/images/aurora-wallpaper-5/contents/images/3840x2160.jxl
  packages/aurora/wallpapers/images/aurora-wallpaper-5/metadata.json
  packages/aurora/wallpapers/images/aurora-wallpaper-6/contents/images/3840x2160.jxl
  packages/aurora/wallpapers/images/aurora-wallpaper-6/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: give the old ones a proper name
  packages/aurora/wallpapers/images/aurora-wallpaper-3/metadata.json
  packages/aurora/wallpapers/images/aurora-wallpaper-4/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: replace old wallpaper with new one
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: bump
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(just): epel builds by removing rpm macros from changelogs (#937)
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

chore: undo bumping mistake
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: Update bazaar to 0.5.2
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Minor fixes
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

feat(aurora): add new wallpapers (#938)
  packages/aurora/aurora.spec
  packages/aurora/wallpapers/images/aurora-wallpaper-3/metadata.json
  packages/aurora/wallpapers/images/aurora-wallpaper-5/contents/images/3840x2160.jxl
  packages/aurora/wallpapers/images/aurora-wallpaper-5/metadata.json
  packages/aurora/wallpapers/images/aurora-wallpaper-6/contents/images/3840x2160.jxl
  packages/aurora/wallpapers/images/aurora-wallpaper-6/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: remove setup-brew-not-found script
  packages/ublue-recipes/src/recipes/apps.just
Owners: @zeglius

[WIP] ✨ Set up Copilot instructions (#946)
  .github/copilot-instructions.md
Owners: @tulilirockz, @p5, @m2Giles

chore(copilot): add additional rules for commit messages
  .github/copilot-instructions.md
Owners: @tulilirockz, @p5, @m2Giles

Remove brew command-not-found script and bump package versions (#944)
  packages/ublue-brew/ublue-brew.spec
  packages/ublue-recipes/src/recipes/apps.just
  packages/ublue-recipes/ublue-recipes.spec
Owners: @zeglius

cleanup: delete staging/nautilus-open-any-terminal directory
  staging/nautilus-open-any-terminal/nautilus-open-any-terminal.spec
Owners: @tulilirockz, @p5, @m2Giles

cleanup: delete staging/sass directory
  staging/sass/sass.spec
Owners: @tulilirockz, @p5, @m2Giles

cleanup: delete staging/dart directory
  staging/dart/dart.spec
Owners: @tulilirockz, @p5, @m2Giles

cleanup: delete staging/nautilus-open-any-terminal directory (#948)
  staging/nautilus-open-any-terminal/nautilus-open-any-terminal.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: remove unused packages
  packages/aurora/aurora.spec
  packages/aurora/cli-logos/symbols/aurora-logo.txt
  packages/aurora/faces/echo.png
  packages/aurora/faces/lumina.png
  packages/aurora/faces/phlip.png
  packages/aurora/faces/scope.png
  packages/aurora/faces/tina.png
  packages/aurora/faces/vincent.png
  packages/aurora/fastfetch/fastfetch.jsonc
  packages/aurora/schemas/etc/geoclue/conf.d/99-beacondb.conf
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-fonts.Brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/kubernetes.Brewfile
  packages/aurora/wallpapers/images/aurora-wallpaper-1/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e
