Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo

chore: Fix mixed up character
  akmods/xone/xone-kmod-common.spec
Owners: @bsherman

feat: remove toolbox ujust files
  packages/ublue-os-just/src/etc-toolbox/toolbox.ini
  packages/ublue-os-just/src/recipes/31-toolbox.just
Owners: @zeglius

fix: bumped spec
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: updated changelog
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

feat: remove toolbox ujust files (#866)
  packages/ublue-os-just/src/etc-toolbox/toolbox.ini
  packages/ublue-os-just/src/recipes/31-toolbox.just
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: fixed date
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: version, email, and name
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: remove related items to toolbox
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: remove duplicate log entry
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: date, bumped spec
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: changelog
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: ujust changelog, deprecated install steps, and files (#867)
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: Re-order carapace source in bling.sh
  packages/ublue-bling/src/bling.sh
Owners: @zeglius

Fix error: configure tv for zsh in the zsh section
  packages/ublue-bling/src/bling.sh
Owners: @zeglius

Bump version of ublue-bling.spec
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

fix(bluefin): move november wallpaper to september
  packages/bluefin/bluefin.spec
  packages/bluefin/wallpapers/gnome-background-properties/09-bluefin.xml
  packages/bluefin/wallpapers/images/09-bluefin-day.jxl
  packages/bluefin/wallpapers/images/09-bluefin-night.jxl
Owners: @castrojo

fix(bluefin): move november wallpaper to september (#871)
  packages/bluefin/bluefin.spec
  packages/bluefin/wallpapers/gnome-background-properties/09-bluefin.xml
  packages/bluefin/wallpapers/images/09-bluefin-day.jxl
  packages/bluefin/wallpapers/images/09-bluefin-night.jxl
Owners: @castrojo

fix: add search provider and update GNOME settings
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

fix: bump schemas
  packages/bluefin/bluefin.spec
Owners: @castrojo

Update packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

Update packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

fix: add search provider and update GNOME settings (#872)
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

chore(ci): remove brewlint
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

feat: new ublue-os-update-reminder package
  packages/ublue-os-update-reminder/README.md
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user-preset/99-ublue-reboot-notifier.preset
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user/ublue-reboot-notifier.service
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user/ublue-uptime-checker-boot.service
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user/ublue-uptime-checker.service
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user/ublue-uptime-checker.timer
  packages/ublue-os-update-reminder/src/usr/libexec/ublue-reboot-notifier-watcher.py
  packages/ublue-os-update-reminder/src/usr/libexec/ublue-uptime-checker.sh
  packages/ublue-os-update-reminder/ublue-os-update-reminder.spec
Owners: @zeglius

fix(dx-helper): remove helper text for LTS
  packages/ublue-rebase-helper/src/ublue-dx-helper
Owners: @zeglius

fix: bump ublue-rebase-helper.spec
  packages/ublue-rebase-helper/ublue-rebase-helper.spec
Owners: @zeglius

Update packages/ublue-rebase-helper/src/ublue-dx-helper
  packages/ublue-rebase-helper/src/ublue-dx-helper
Owners: @zeglius

rework implementation
  packages/ublue-os-update-reminder/README.md
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user-preset/99-ublue-reboot-notifier.preset
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user/ublue-reboot-notifier.service
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user/ublue-uptime-checker-boot.service
  packages/ublue-os-update-reminder/src/usr/libexec/ublue-reboot-notifier-watcher.py
  packages/ublue-os-update-reminder/src/usr/libexec/ublue-uptime-checker.sh
  packages/ublue-os-update-reminder/ublue-os-update-reminder.spec
Owners: @zeglius

reword README
  packages/ublue-os-update-reminder/README.md
Owners: @zeglius

fix(dx-helper): remove helper text for LTS (#874)
  packages/ublue-rebase-helper/src/ublue-dx-helper
  packages/ublue-rebase-helper/ublue-rebase-helper.spec
Owners: @zeglius

reword spec prose
  packages/ublue-os-update-reminder/ublue-os-update-reminder.spec
Owners: @zeglius

fix: remove carapace from ublue-bling
  packages/ublue-bling/src/bling.sh
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

fix: formatting in gschema.override file
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

fix: bump schemas
  packages/bluefin/bluefin.spec
Owners: @castrojo

fix: formatting in gschema.override file (#877)
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

fix: add gnome software update settings to schema override
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

fix: bump schemas
  packages/bluefin/bluefin.spec
Owners: @castrojo

fix: remove carapace from ublue-bling (#876)
  packages/ublue-bling/src/bling.sh
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

fix: add gnome software update settings to schema override (#878)
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

chore(ci): remove brewlint (#873)
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles
