Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

Revert "feat: try to to output the naughty files"
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

chore: test with valid package
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

Revert "fix({aurora,bluefin}): move pipewire `raop` config file to `/etc` instead of `/usr/share` to allow disabling the raop module (#829)"
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

fix({aurora,bluefin}): make pipewire raop module disableable
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

fix({aurora,bluefin}): make pipewire raop module disableable (#830)
  packages/aurora/aurora.spec
  packages/aurora/schemas/etc/pipewire/pipewire.conf.d/raop.conf
  packages/aurora/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/etc/pipewire/pipewire.conf.d/raop.conf
  packages/bluefin/schemas/usr/share/pipewire/pipewire.conf.d/raop.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

Update packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): add aurora ai tools (#827)
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: bump version
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat: Update bazaar to latest tagged release
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Fix version flag
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Update prep step
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: restore Bazaar version bump automation
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: restore Bazaar version bump automation (#832)
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Remove flathub check, has issues that need fixing
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Add patch file
  staging/bazaar/flathub.patch
Owners: @tulilirockz, @p5, @m2Giles

fix: Remove flathub check, has issues that need fixing (#833)
  staging/bazaar/bazaar.spec
  staging/bazaar/flathub.patch
Owners: @tulilirockz, @p5, @m2Giles

feat: Update bazaar to 0.3.2
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Delete staging/bazaar/flathub.patch
  staging/bazaar/flathub.patch
Owners: @tulilirockz, @p5, @m2Giles

feat: Add ublue-os-flatpak package to fix issues caused by removing Fedora Flatpaks.
  packages/ublue-os-flatpak/LICENSE
  packages/ublue-os-flatpak/ublue-os-flatpak.spec
Owners: @zeglius

chore(deps): update krunner-bazaar to 1.2.1
  packages/krunner-bazaar/krunner-bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore(deps): update krunner-bazaar to 1.2.1 (#835)
  packages/krunner-bazaar/krunner-bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: bluefin-cli and aurora-cli recipes (#818)
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-cli.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @castrojo

fix: remove claude-code
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

try some shit
  .github/workflows/lint-brewfiles.yml
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
Owners: @tulilirockz, @p5, @m2Giles, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

another test
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

try something totally different
  .github/workflows/lint-brewfiles.yml
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
Owners: @tulilirockz, @p5, @m2Giles, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

revert
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

fix(aurora): update kubernetes brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/kubernetes.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

bump spec files
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: remove claude-code from aurora-ai recipe (#836)
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(aurora): update kubernetes brewfile (#838)
  packages/aurora/schemas/usr/share/ublue-os/homebrew/kubernetes.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): add proper sddm theme (#816)
  packages/aurora/aurora.spec
  packages/aurora/kde-config/sddm/01-breeze-aurora/Background.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/KeyboardButton.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/Login.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/Main.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/SessionButton.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/metadata.desktop
  packages/aurora/kde-config/sddm/01-breeze-aurora/preview.png
  packages/aurora/kde-config/sddm/01-breeze-aurora/theme.conf
  packages/aurora/plymouth/themes/spinner/kinoite-watermark.png
  packages/aurora/plymouth/themes/spinner/watermark.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): add cute konqi wallpaper
  packages/aurora/aurora.spec
  packages/aurora/wallpapers/images/konqi/contents/images/1920x1080.png
  packages/aurora/wallpapers/images/konqi/contents/images_dark/1920x1080.png
  packages/aurora/wallpapers/images/konqi/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: add license
  packages/aurora/wallpapers/images/konqi/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: bump version for schemas
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: give it a proper name
  packages/aurora/wallpapers/images/konqi/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: rename
  packages/aurora/aurora.spec
  packages/aurora/wallpapers/images/looking_towards_the_future/contents/images/1920x1080.png
  packages/aurora/wallpapers/images/looking_towards_the_future/contents/images_dark/1920x1080.png
  packages/aurora/wallpapers/images/looking_towards_the_future/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: changelog date format
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

fix(boot times): change target of brew-setup to basic, add condition that tar exists
  packages/ublue-brew/src/usr/lib/systemd/system/brew-setup.service
Owners: @zeglius

ublue-brew: bump spec
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo
