Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

Update packages/ublue-os-update-reminder/src/usr/lib/systemd/user/ublue-reboot-notifier.service
  packages/ublue-os-update-reminder/src/usr/lib/systemd/user/ublue-reboot-notifier.service
Owners: @zeglius

fix: bump spec
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

fix(bling): source atuin before starship (#880)
  packages/ublue-bling/src/bling.fish
  packages/ublue-bling/src/bling.sh
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

feat(aurora): change to new logos
  packages/aurora/logos/distributor-logo-white.svg
  packages/aurora/logos/distributor-logo.svg
  packages/aurora/logos/fedora-logo.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: bump version
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: remove old circle logos
  packages/aurora/aurora.spec
  packages/aurora/logos/distributor-logo-darkwhite-circle.svg
  packages/aurora/logos/distributor-logo-white-circle.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat: add symbolic logo and make it the default
  packages/aurora/aurora.spec
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/plasmoidsetupscripts/org.kde.plasma.kickoff.js
  packages/aurora/logos/distributor-logo-symbolic.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: bump version
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: change settings preview to new logo
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/splash.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat: add new symbolic circle logos as easter egg
  packages/aurora/aurora.spec
  packages/aurora/logos/auroralogo-circle-symbolic.svg
  packages/aurora/logos/auroralogo-symbolic.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: use updated logo with new logical size
  packages/aurora/logos/distributor-logo-symbolic.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: use smaller preview for ksplash
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/splash.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: not meant to commit this one
  packages/aurora/aurora.spec
  packages/aurora/logos/auroralogo-symbolic.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: proper path
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: actually use the proper path
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

Update packages/bluefin/bluefin.spec
  packages/bluefin/bluefin.spec
Owners: @castrojo

feat: symlink new symbolic to distributor-logo-white
  packages/aurora/aurora.spec
  packages/aurora/logos/auroralogo-white.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(logomenu): flatpak fallback support for bazaar in logo menu (#888)
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/etc/dconf/db/distro.d/04-bluefin-logomenu-extension
  packages/bluefin/schemas/usr/bin/bluefin-bazaar-launcher
Owners: @castrojo

fix(ublue-os-media-automount): match fstab entries by uuid (#775)
  packages/ublue-os-media-automount-udev/ublue-os-media-automount-udev.spec
  packages/ublue-os-media-automount-udev/ublue-os-media-automount.py
Owners: @zeglius

chore: update new banner and colorful logo
  packages/aurora/logos/distributor-logo.svg
  packages/aurora/logos/fedora-logo.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: symbolic icons for distributor-logo-white
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat: wokerora
  packages/aurora/aurora.spec
  packages/aurora/logos/auroralogo-g.svg
  packages/aurora/logos/auroralogo-t.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: rename pride logos
  packages/aurora/aurora.spec
  packages/aurora/logos/auroralogo-pride-gay.svg
  packages/aurora/logos/auroralogo-pride-trans.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

Update bazaar to 0.4.6
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: use 375x735 so it's not squished on about this system
  packages/aurora/logos/distributor-logo.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: Update bazaar to 0.4.7
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Add new service file
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Update bazaar to 0.4.8
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

Revert "chore: Add new service file"
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: rename pride logo
  packages/aurora/aurora.spec
  packages/aurora/logos/auroralogo-pride.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): change to new logos (#884)
  packages/aurora/aurora.spec
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/plasmoidsetupscripts/org.kde.plasma.kickoff.js
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/splash.png
  packages/aurora/logos/auroralogo-circle-symbolic.svg
  packages/aurora/logos/auroralogo-pride-trans.svg
  packages/aurora/logos/auroralogo-pride.svg
  packages/aurora/logos/auroralogo-white.svg
  packages/aurora/logos/distributor-logo-darkwhite-circle.svg
  packages/aurora/logos/distributor-logo-symbolic.svg
  packages/aurora/logos/distributor-logo-white-circle.svg
  packages/aurora/logos/distributor-logo-white.svg
  packages/aurora/logos/distributor-logo.svg
  packages/aurora/logos/fedora-logo.svg
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: Add changes from fedora review (Thanks Neal)
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore(ublue-os-just): require less user inputs
  packages/ublue-os-just/src/recipes/00-default.just
Owners: @zeglius

feat(ublue-brew): unlink rpm on upgrade
  packages/ublue-brew/src/usr/lib/systemd/system/brew-upgrade.service
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

feat(ublue-brew): unlink rpm on upgrade (#900)
  packages/ublue-brew/src/usr/lib/systemd/system/brew-upgrade.service
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

fix(ublue-dx-helper): handle gdx images correctly as developer mode (#887)
  packages/ublue-rebase-helper/src/ublue-dx-helper
Owners: @zeglius

chore: Fixes from upstream submission
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Update bazaar to 0.4.9
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Update bazaar to 0.4.10
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: replace aurora logos in anaconda livecd
  aurora/fedora-logos/src/anaconda/fedora-logo-icon.png
  aurora/fedora-logos/src/anaconda/sidebar-logo.png
Owners: @tulilirockz, @p5, @m2Giles

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo
