Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo

fix(boot times): change target of brew-setup to basic, add condition that tar exists (#845)
  packages/ublue-brew/src/usr/lib/systemd/system/brew-setup.service
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

fix(aurora): fix fonts brewfile
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-fonts.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(motd): fix URLs that extend beyond the character limit
  packages/ublue-motd/src/ublue-motd
  packages/ublue-motd/ublue-motd.spec
Owners: @zeglius

feat(aurora): add cute konqi wallpaper (#840)
  packages/aurora/aurora.spec
  packages/aurora/wallpapers/images/looking_towards_the_future/contents/images/1920x1080.png
  packages/aurora/wallpapers/images/looking_towards_the_future/contents/images_dark/1920x1080.png
  packages/aurora/wallpapers/images/looking_towards_the_future/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: bump version
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(motd): fix URLs that extend beyond the character limit (#849)
  packages/ublue-motd/src/ublue-motd
  packages/ublue-motd/ublue-motd.spec
Owners: @zeglius

fix(aurora): fix fonts brewfile (#848)
  packages/aurora/aurora.spec
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-fonts.Brewfile
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: remove brewfiles
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-ai.Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-fonts.Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/kubernetes.Brewfile
Owners: @castrojo

fix: remove brewfiles (#850)
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-ai.Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-fonts.Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/kubernetes.Brewfile
Owners: @castrojo

fix: remove carapace
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-cli.Brewfile
Owners: @castrojo

fix:Delete packages/bluefin-readymade-config directory
  packages/bluefin-readymade-config/bluefin-readymade-config.spec
  packages/bluefin-readymade-config/src/bento/bottom-right-dark.jxl
  packages/bluefin-readymade-config/src/bento/bottom-right.jxl
  packages/bluefin-readymade-config/src/bento/middle-left-dark.jxl
  packages/bluefin-readymade-config/src/bento/middle-left.jxl
  packages/bluefin-readymade-config/src/bento/top-right-dark.jxl
  packages/bluefin-readymade-config/src/bento/top-right.jxl
  packages/bluefin-readymade-config/src/repart/20-efi.conf
  packages/bluefin-readymade-config/src/repart/45-boot.conf
  packages/bluefin-readymade-config/src/repart/50-root.conf
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete staging/intel-npu-driver-rpm directory
  staging/intel-npu-driver-rpm/.gitignore
  staging/intel-npu-driver-rpm/0001-Disable-third-party-googletest-and-yaml-cpp.patch
  staging/intel-npu-driver-rpm/0001-Remove-structure-and-enum-that-are-introduced-in-ze-.patch
  staging/intel-npu-driver-rpm/0002-Make-firmware-install-respect-CMAKE_INSTALL_PATH.patch
  staging/intel-npu-driver-rpm/0003-Uprev-level-zero-npu-extensions-to-build-against-hea.patch
  staging/intel-npu-driver-rpm/0004-Fix-usage-of-upstreamed-extension.patch
  staging/intel-npu-driver-rpm/intel-npu-level-zero.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete staging/readymade directory
  staging/readymade/readymade.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete staging/scx-scheds directory
  staging/scx-scheds/scx-scheds.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete staging/taidan directory
  staging/taidan/taidan.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete staging/libhelium directory
  staging/libhelium/libhelium.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete staging/hydrogen-icon-theme directory
  staging/hydrogen-icon-theme/hydrogen-icon-theme.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete staging/helium-gtk-theme directory
  staging/helium-gtk-theme/helium-gtk-theme.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete .github/workflows/wolfi.yml
  .github/workflows/wolfi.yml
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete wolfi directory
  wolfi/bluefin-base.yaml
  wolfi/bluefin-base/etc/bashrc
  wolfi/bluefin-base/etc/profile.d/00-bluefin-cli-brew-firstrun.sh
  wolfi/bluefin-base/etc/profile.d/bash_completion.sh
  wolfi/bluefin-base/etc/profile.d/command-not-found-host-exec.sh
  wolfi/bluefin-base/etc/profile.d/homebrew-env.sh
  wolfi/bluefin-base/etc/profile.d/modern-unix.sh
  wolfi/bluefin-base/etc/profile.d/zz-profile_sourced.sh
  wolfi/bluefin-base/etc/starship.toml
  wolfi/bluefin-base/root/.bash_profile
  wolfi/bluefin-base/root/.bashrc
  wolfi/bluefin-base/usr/share/fish/vendor_conf.d/00-bluefin-cli-brew-firstrun.fish
  wolfi/bluefin-base/usr/share/fish/vendor_conf.d/bling.fish
  wolfi/bluefin-base/usr/share/fish/vendor_conf.d/brew.fish
  wolfi/bluefin-base/usr/share/fish/vendor_functions.d/fish_command_not_found.fish
  wolfi/bluefin-base/usr/share/fish/vendor_functions.d/fish_title.fish
  wolfi/ublue-base.yaml
  wolfi/ublue-base/pinentry
Owners: @tulilirockz, @p5, @m2Giles

fix(brew): bump version
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

fix: Delete staging/gnome-software directory
  staging/gnome-software/gnome-software.spec
  staging/gnome-software/rpminspect.yaml
Owners: @tulilirockz, @p5, @m2Giles

fix: Delete staging/rpm-ostree directory
  staging/rpm-ostree/5069.patch
  staging/rpm-ostree/rpm-ostree.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: brew-upgrade.service ExecStartPost SELinux log messages
  packages/ublue-brew/src/usr/lib/systemd/system/brew-upgrade.service
Owners: @zeglius

fix: brew-upgrade.service ExecStartPost SELinux log messages (#852)
  packages/ublue-brew/src/usr/lib/systemd/system/brew-upgrade.service
Owners: @zeglius

chore(brew): bump version
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

chore(brew): bump version (#853)
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

fix(ublue-os-just): only clean brew if present
  packages/ublue-os-just/src/recipes/20-clean.just
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix(aurora): plymouth typo
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: set user icon
  packages/aurora/aurora.spec
  packages/aurora/kde-config/sddm/01-breeze-aurora/faces/.face.icon
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: Update bazaar to 0.4.2
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Update bazaar to 0.4.2 (#861)
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Update bazaar to 0.4.3
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

fix(aurora): plymouth typo (#860)
  packages/aurora/aurora.spec
  packages/aurora/kde-config/sddm/01-breeze-aurora/faces/.face.icon
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore: Use pkgconfig for dependencies
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Add new xone firmware file
  akmods/xone/20810869_8ce2975a7fbaa06bcfb0d8762a6275a1cf7c1dd3.cab
Owners: @bsherman

fix: Add missing firmware file
  akmods/xone/xone-kmod-common.spec
Owners: @bsherman

fix: Add missing firmware file (#864)
  akmods/xone/xone-kmod-common.spec
Owners: @bsherman

chore: Fix missing source
  akmods/xone/xone-kmod-common.spec
Owners: @bsherman

chore: Fix extract
  akmods/xone/xone-kmod-common.spec
Owners: @bsherman
