Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo

chore: bump kcm_ublue to 0.6.0
  packages/kcm_ublue/kcm_ublue.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: bump kcm_ublue to 0.6.0 (#743)
  packages/kcm_ublue/kcm_ublue.spec
Owners: @tulilirockz, @p5, @m2Giles

feat(media-automount-udev): Add x-gvfs-show mount option for partition visibility in Gnome
  packages/ublue-os-media-automount-udev/ublue-os-media-automount-udev.spec
  packages/ublue-os-media-automount-udev/ublue-os-media-automount.py
Owners: @zeglius

chore(media-automount-udev): remove old udev rule disable mechanism
  packages/ublue-os-media-automount-udev/ublue-os-media-automount-udev.spec
  packages/ublue-os-media-automount-udev/ublue-os-media-automount.py
Owners: @zeglius

chore(media-automount-udev): remove old udev rule disable mechanism (#740)
  packages/ublue-os-media-automount-udev/ublue-os-media-automount-udev.spec
  packages/ublue-os-media-automount-udev/ublue-os-media-automount.py
Owners: @zeglius

fix: syntax error k8s Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/kubernetes.Brewfile
Owners: @castrojo

fix: syntax error k8s Brewfile (#746)
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/kubernetes.Brewfile
Owners: @castrojo

feat(media-automount-udev): Add x-gvfs-show mount option for partition visibility in Gnome (#735)
  packages/ublue-os-media-automount-udev/ublue-os-media-automount-udev.spec
  packages/ublue-os-media-automount-udev/ublue-os-media-automount.py
Owners: @zeglius

chore: bump specfile version
  packages/bluefin/bluefin.spec
Owners: @castrojo

chore: bump specfile version (#754)
  packages/bluefin/bluefin.spec
Owners: @castrojo

Add comprehensive version bumping section to README with bluefin example (#753)
  README.md
Owners: @tulilirockz, @p5, @m2Giles

feat(bluefin-schemas): add default shortcut for Gradia and Smile
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/etc/dconf/db/distro.d/02-bluefin-keybindings
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

feat(bluefin-schemas): add super+period as well
  packages/bluefin/schemas/etc/dconf/db/distro.d/02-bluefin-keybindings
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

chore(aurora): bump version
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): add profile pictures
  packages/aurora/aurora.spec
  packages/aurora/faces/lumina.png
  packages/aurora/faces/scope.png
  packages/aurora/faces/tina.png
  packages/aurora/faces/vlc.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore(aurora): use proper name for the big guy
  packages/aurora/aurora.spec
  packages/aurora/faces/vincent.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix(aurora): use proper description
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): add profile pictures (#760)
  packages/aurora/aurora.spec
  packages/aurora/faces/lumina.png
  packages/aurora/faces/scope.png
  packages/aurora/faces/tina.png
  packages/aurora/faces/vincent.png
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

fix: syntax error bluefin-fonts Brewfile
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-fonts.Brewfile
Owners: @castrojo

feat(ci): add ci action for brewfiles
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

fix: syntax error bluefin-fonts Brewfile (#763)
  packages/bluefin/schemas/usr/share/ublue-os/homebrew/bluefin-fonts.Brewfile
Owners: @castrojo

fix: dynamically find all .Brewfile
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

feat(ci): add ci action for brewfiles lint (#764)
  .github/workflows/lint-brewfiles.yml
Owners: @tulilirockz, @p5, @m2Giles

feat: alias bat for cat
  packages/ublue-bling/src/bling.fish
  packages/ublue-bling/src/bling.sh
Owners: @zeglius

fix: bump spec version to 0.1.8
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

feat: alias bat for cat (#767)
  packages/ublue-bling/src/bling.fish
  packages/ublue-bling/src/bling.sh
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

feat(bluefin): set bazaar default for mimetype flatpakref
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/etc/xdg/mimeapps.list
Owners: @castrojo

feat(bluefin): set bazaar default for mimetype flatpakref (#768)
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/etc/xdg/mimeapps.list
Owners: @castrojo

feat(bluefin): august
  packages/bluefin/wallpapers/images/08-bluefin-day.jxl
  packages/bluefin/wallpapers/images/08-bluefin-night.jxl
Owners: @castrojo

chore(bluefin): package bump for august
  packages/bluefin/bluefin.spec
Owners: @castrojo

chore(bluefin): package bump for august (#769)
  packages/bluefin/bluefin.spec
Owners: @castrojo

bluefin: bump spec again
  packages/bluefin/bluefin.spec
Owners: @castrojo

feat: Use the new Adwaita font instead of Inter
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

fix(bluefin): add bold adwaita sans font for titlebar font
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

feat: Use the new Adwaita font instead of Inter (#481)
  packages/bluefin/bluefin.spec
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo

feat(bluefin): add red tulip wallpaper
  packages/bluefin/bluefin.spec
  packages/bluefin/wallpapers/gnome-background-properties/xe_red_tulip.xml
  packages/bluefin/wallpapers/images/xe_red_tulip.jxl
Owners: @castrojo

fix(bluefin): bump package shemas version for flatpakref fix
  packages/bluefin/bluefin.spec
Owners: @castrojo

fix(bluefin): bump package shemas version for flatpakref fix (#773)
  packages/bluefin/bluefin.spec
Owners: @castrojo

chore(bluefin): bump version
  packages/bluefin/bluefin.spec
Owners: @castrojo

feat(bluefin-schemas): add default shortcuts for Gradia and Smile (#755)
  packages/bluefin/schemas/etc/dconf/db/distro.d/02-bluefin-keybindings
  packages/bluefin/schemas/usr/share/glib-2.0/schemas/zz0-bluefin-modifications.gschema.override
Owners: @castrojo
