Repository ublue-os/packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tulilirockz, @p5, @m2Giles, @bsherman, @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e, @zeglius, @castrojo, @kylegospo

chore: remove unused packages (#954)
  packages/aurora/aurora.spec
  packages/aurora/cli-logos/symbols/aurora-logo.txt
  packages/aurora/faces/echo.png
  packages/aurora/faces/lumina.png
  packages/aurora/faces/phlip.png
  packages/aurora/faces/scope.png
  packages/aurora/faces/tina.png
  packages/aurora/faces/vincent.png
  packages/aurora/fastfetch/fastfetch.jsonc
  packages/aurora/schemas/etc/geoclue/conf.d/99-beacondb.conf
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-ai.Brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-cli.Brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/aurora-fonts.Brewfile
  packages/aurora/schemas/usr/share/ublue-os/homebrew/kubernetes.Brewfile
  packages/aurora/wallpapers/images/aurora-wallpaper-1/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

cleanup: delete staging/dart directory (#950)
  staging/dart/dart.spec
Owners: @tulilirockz, @p5, @m2Giles

cleanup: delete staging/sass directory (#949)
  staging/sass/sass.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: add fedora flatpak spec
  staging/flatpak/flatpak-add-fedora-repos.service
  staging/flatpak/flatpak.spec
Owners: @tulilirockz, @p5, @m2Giles

feat: add patched flatpak for preinstall
  staging/flatpak/1.16.1-to-pre-install-builds.patch
  staging/flatpak/flatpak.spec
Owners: @tulilirockz, @p5, @m2Giles

feat: backport preinstall to flatpak 1.16.1 (#957)
  staging/flatpak/1.16.1-to-pre-install-builds.patch
  staging/flatpak/flatpak-add-fedora-repos.service
  staging/flatpak/flatpak.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Update bazaar to 0.5.6
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

feat: Initial generic Univesral Blue fedora-logos packages
  base/fedora-logos/fedora-logos.spec
  base/fedora-logos/src/anaconda/sidebar-bg.png
  base/fedora-logos/src/anaconda/sidebar-logo.png
  base/fedora-logos/src/anaconda/topbar-bg.png
  base/fedora-logos/src/anaconda/universal-blue.css
  base/fedora-logos/src/logos/fedora-gdm-logo.png
  base/fedora-logos/src/logos/fedora-logo-icon.png
  base/fedora-logos/src/logos/fedora-logo-small.png
  base/fedora-logos/src/logos/fedora-logo-sprite.png
  base/fedora-logos/src/logos/fedora-logo-sprite.svg
  base/fedora-logos/src/logos/fedora-logo.png
  base/fedora-logos/src/logos/fedora_logo_med.png
  base/fedora-logos/src/logos/fedora_white_logo.svg
  base/fedora-logos/src/logos/fedora_whitelogo.svg
  base/fedora-logos/src/logos/fedora_whitelogo_med.png
  base/fedora-logos/src/logos/system-logo-white.png
Owners: @tulilirockz, @p5, @m2Giles

chore: update fwupd
  staging/fwupd/fwupd.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: enable F43 chroots, kill F41
  .github/workflows/build-package.yml
Owners: @tulilirockz, @p5, @m2Giles

fix: epel builds
  staging/fwupd/fwupd.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: update fwupd (#978)
  .github/workflows/build-package.yml
  staging/fwupd/fwupd.spec
Owners: @tulilirockz, @p5, @m2Giles

feat: make logos available under aurora* name
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat: make logos available under aurora* name (#979)
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(bluefin): Update November wallpapers
  packages/bluefin/bluefin.spec
  packages/bluefin/wallpapers/images/11-bluefin-day.jxl
  packages/bluefin/wallpapers/images/11-bluefin-night.jxl
Owners: @castrojo

feat(bluefin): Update November wallpapers (#980)
  packages/bluefin/bluefin.spec
  packages/bluefin/wallpapers/images/11-bluefin-day.jxl
  packages/bluefin/wallpapers/images/11-bluefin-night.jxl
Owners: @castrojo

fix: Fedora
  staging/flatpak/flatpak.spec
Owners: @tulilirockz, @p5, @m2Giles

fix: Fedora (#984)
  staging/flatpak/flatpak.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Missed a couple
  staging/flatpak/flatpak.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Another
  staging/flatpak/flatpak.spec
Owners: @tulilirockz, @p5, @m2Giles

feat(aurora): introduce new aurora wallpaper for november
  packages/aurora/aurora.spec
  packages/aurora/wallpapers/images/aurora-wallpaper-7/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

Update packages/aurora/aurora.spec
  packages/aurora/aurora.spec
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(aurora): introduce new aurora wallpaper for november (#987)
  packages/aurora/aurora.spec
  packages/aurora/wallpapers/images/aurora-wallpaper-7/metadata.json
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat(bluefin): add metrics to fastfetch
  packages/bluefin/bluefin.spec
  packages/bluefin/fastfetch/fastfetch.jsonc
Owners: @castrojo

feat(bluefin): add metrics to fastfetch (#991)
  packages/bluefin/bluefin.spec
  packages/bluefin/fastfetch/fastfetch.jsonc
Owners: @castrojo

Update fastfetch.jsonc
  packages/bluefin/fastfetch/fastfetch.jsonc
Owners: @castrojo

chore: bump
  packages/bluefin/bluefin.spec
Owners: @castrojo

feat: change fastfetch Fedora logo for a Dino. (#992)
  packages/bluefin/bluefin.spec
  packages/bluefin/fastfetch/fastfetch.jsonc
Owners: @castrojo

fix: Add main config compile flag
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore: Rename config.yaml to be clearer
  staging/bazaar/bazaar.spec
Owners: @tulilirockz, @p5, @m2Giles

chore(aurora): remove unusued stuff
  packages/aurora/aurora.spec
  packages/aurora/kde-config/aurora.xml
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/defaults
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/plasmoidsetupscripts/org.kde.plasma.folder.js
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/plasmoidsetupscripts/org.kde.plasma.kickoff.js
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/plasmoidsetupscripts/org.kde.plasma.systemtray.js
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/fullscreenpreview.jpg
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/preview.png
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/splash.png
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/splash/Splash.qml
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/metadata.desktop
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/metadata.json
  packages/aurora/kde-config/discover/featured.json
  packages/aurora/kde-config/discover/featuredurlrc
  packages/aurora/kde-config/sddm/01-breeze-aurora/Background.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/KeyboardButton.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/Login.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/Main.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/SessionButton.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/faces/.face.icon
  packages/aurora/kde-config/sddm/01-breeze-aurora/metadata.desktop
  packages/aurora/kde-config/sddm/01-breeze-aurora/preview.png
  packages/aurora/kde-config/sddm/01-breeze-aurora/theme.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

chore(aurora): remove unused stuff (#997)
  packages/aurora/aurora.spec
  packages/aurora/kde-config/aurora.xml
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/defaults
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/plasmoidsetupscripts/org.kde.plasma.folder.js
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/plasmoidsetupscripts/org.kde.plasma.kickoff.js
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/plasmoidsetupscripts/org.kde.plasma.systemtray.js
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/fullscreenpreview.jpg
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/preview.png
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/previews/splash.png
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/contents/splash/Splash.qml
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/metadata.desktop
  packages/aurora/kde-config/dev.getaurora.aurora.desktop/metadata.json
  packages/aurora/kde-config/discover/featured.json
  packages/aurora/kde-config/discover/featuredurlrc
  packages/aurora/kde-config/sddm/01-breeze-aurora/Background.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/KeyboardButton.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/Login.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/Main.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/SessionButton.qml
  packages/aurora/kde-config/sddm/01-breeze-aurora/faces/.face.icon
  packages/aurora/kde-config/sddm/01-breeze-aurora/metadata.desktop
  packages/aurora/kde-config/sddm/01-breeze-aurora/preview.png
  packages/aurora/kde-config/sddm/01-breeze-aurora/theme.conf
Owners: @inffy, @ledif, @RealVishy, @NiHaiden, @renner0e

feat: add scope icon for installer
  aurora/fedora-logos/fedora-logos.spec
  aurora/fedora-logos/src/misc/scope_installer.png
Owners: @tulilirockz, @p5, @m2Giles

feat: add scope icon for installer (#1000)
  aurora/fedora-logos/fedora-logos.spec
  aurora/fedora-logos/src/misc/scope_installer.png
Owners: @tulilirockz, @p5, @m2Giles

ublue-brew: bump tarball LOL
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

chore(ublue-brew): bump tarball (#1001)
  packages/ublue-brew/ublue-brew.spec
Owners: @zeglius

fix: rebuild to fix bash completion
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fix: rebuild to fix bash completion (#1003)
  packages/ublue-os-just/ublue-os-just.spec
Owners: @zeglius

fixing up the BASH or ZSH logic for os-bling
  packages/ublue-bling/src/bling.sh
Owners: @zeglius

bump the spec file too
  packages/ublue-bling/ublue-bling.spec
Owners: @zeglius

.github/CODEOWNERS:

# All Files
* @tulilirockz @p5 @m2Giles

# AKMODS
akmods/ @bsherman

# Aurora
packages/aurora/ @inffy @ledif @RealVishy @NiHaiden @renner0e

# UCore
ucore/ @bsherman

# Ublue-OS Packages
packages/ublue-os-* @bsherman

# Ublue Packages
packages/ublue-* @zeglius

# Bluefin Packages
packages/bluefin/ @castrojo

# Bazzite Packages
bazzite/ @zeglius @kylegospo
